@font-face {
  font-family: "Poppins-Regular";
  src: url("../../fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: "Poppins-SemiBold";
  src: url("../../fonts/Poppins-SemiBold.ttf");
}

@font-face {
  font-family: "Poppins-Light";
  src: url("../../fonts/Poppins-Light.ttf");
}

@font-face {
  font-family: "Poppins-Medium";
  src: url("../../fonts/Poppins-Medium.ttf");
}

body {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  background: #fff;
  font-family: "Poppins-Regular";
}
/*start ScrollBar*/
/* width */
::-webkit-scrollbar {
  width: 5px;
}
/* Track */
::-webkit-scrollbar-track {
  /*margin-top: 75px;*/
  border-radius: 10px;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #43c2fa;
  border-radius: 10px;
}
/*end Scrollbar*/
