.modal-content {
    padding: 20px 40px;
    font-family: 'Poppins-Regular';
    color: #4B4B4B;
    border-radius: 2rem !important;
}

.modal-header {
    justify-content: center !important;
}

.modal-title{
    font-size: 28px !important;
    font-family: 'Poppins-SemiBold';
    text-align: center;
}

.modal-footer {
    justify-content: flex-start !important;
}

.modal-header, .modal-footer {
    border: none !important;
}

.modalForm {
    width: 100%;
    align-items: center;
}

.inputControlBlue {
    border: 1px solid #01BDFF;
    border-radius: 30px;
    flex: 2 1 50%;
    padding: 2px 20px;
    height: 40px;
    font-size: 17px;
}

.btnBlue {
    border-radius: 25px;
    background: white;
    border: 1px solid #01BDFF;
    background: #01BDFF;
    color: white;
    padding: 10px;
}

.btnGrey {
    border-radius: 35px;
    background: white;
    border: 1px solid #4B4B4B;
    padding: 10px;
}

.btnBlue, .btnGrey{
    flex: 1 1 15%;
    margin-left: 15px !important;
}

.btnGrey:focus{
    outline: none !important;
}

.btnBlue:focus{
    outline: none !important;
}

.inputControlBlue:focus {
    outline: none !important;
}

.modalForm label {
    width: 100%;
}

@media (min-width: 576px) {
    .modal-dialog {
        max-width: 750px !important;
        margin: 1.75rem auto;
    }
}

@media only screen and (max-width: 750px) {
    .modal-dialog {
        max-width: 578px !important;
    }
}

@media only screen and (max-width: 543px) {
    .modalForm {
        justify-content: center;
    }

    .inputControlBlue, .btnBlue, .btnGrey {
        flex: 1 1 100%;
        margin-left: 0px !important;
        margin-bottom: 10px;
    }
}